{{> head }}

{{> nabvar }}

<div class="row">
    <div class="col-8">
        <h1>Node.js + Express + HBS </h1>
        <p>Esta es una página web creada con Node.js en conjunto con Express y HBS.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/nodejs_logo.png" class="img-thumbnail"/>
    </div>
</div>

{{> footer }}

